<!DOCTYPE html>
<html>
	<head>
		<title>Random God Builder</title>
		<link rel="stylesheet" href="/static/css/style.css" />
		<link href="static/fonts/stylesheet.css" type="text/css" rel="stylesheet"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet"> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="{{url_for('static', filename='js/js.js')}}"></script>
	</head>
	
	<body>
		<div id="top-bar" class="top-bar">
			<span class="top-bar-left-text">Got bored one day</span>
			<span id="title" class="title">Random God Builder</span>
			<span class="author">Made By Jared Nightingale</span>				
		</div>

		<div class="container">
			<div class="horizontal-separator"></div>

			<div class="row-1 vertical-separator-left vertical-separator-right">

				<div id="god-column" class="god-container vertical-separator-right">
					<h1>God</h1>
					<div class="god-row">
						<div>
							<img id="god-image" src="{{ build.god.icon_url }}" title="" class="god-image" />
							<div id="god-description" class="description">
								<span class="description-text">{{ build.god.title }}</span>
								<span class="description-text">Role: {{ build.god.role.name }}</span>
								<span class="description-text">Pantheon: {{ build.god.pantheon.name }}</span>
								<span class="description-text">Attack Type: {{ build.god.attack_type.name }}</span>
								<span class="description-text">Attack Range: {{ build.god.attack_range.name }}</span>
							</div>
						</div>
						<span class="god-name">{{ build.god.name|lower }}</span>
						<a class="re-roll" href=".">Re-roll</a>
					</div>
				</div>

				<div id="item-column" class="items-container vertical-separator-right">
					<h1>Items</h1>
					<div class="items-row">
						{% for item in items %}
							<div class="item-with-text">
								<div>
									<img id="item-img-{{ loop.index }}" src="{{ item.url }}" class="item-image" />
									<div id="item-description-{{ loop.index }}" class="description">
										<span class="description-text">Price: {{ item.price }}</span>
										{% for key, value in item.attributes.items() %}
											<span class="description-text">{{ key }}: {{ value }}</span>
										{% endfor %}}
										<span class="description-text">{{ item.passive }}</span>
									</div>
								</div>
								<span class="item-name" id="{{ item.name }}">{{ item.name }}</span>
							</div>
						{% endfor %}
					</div>
				</div>

				<div id="relics-column" class="relics-container vertical-separator-right">
					<h1>Relics</h1>
					<div class="relics-row">
						{% for relic in build.relics %}
							<div class="item-with-text">
								<div>
									<img id="relic-img-{{ loop.index }}" src="{{ relic.url }}" class="item-image" />
									<div id="relic-description-{{ loop.index }}" class="description">
										<span class="description-text">{{ relic.passive }}</span>
									</div>
								</div>
							<span class="item-name" id="{{ relic.name }}">{{ relic.name }}</span>
							</div>
						{% endfor %}
					</div>
				</div>

				<div id="consumables-column" class="consumables-container">
					<h1>Consumables</h1>
					<div class="consumables-row">
						{% for consumable in build.consumables %}
							<div class="item-with-text">
								<div>
									<img id="consumable-img-{{ loop.index }}" src="{{ consumable.url }}" class="item-image" />
									<div id="consumable-description-{{ loop.index }}" class="description">
										<span class="description-text">Price: {{ consumable.price }}</span>
										{% for key, value in consumable.attributes.items() %}
											<span class="description-text">{{ key }}: {{ value }}</span>
										{% endfor %}}
										<span class="description-text">{{ consumable.passive }}</span>
									</div>
								</div>
								<span class="item-name" id="{{ consumable.name }}">{{ consumable.name }}</span>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="horizontal-separator"></div>

			<div id="abilities-container" class="vertical-separator-right vertical-separator-left">
				<div class="abilities-wrapper">
					<h1>Abilities</h1>
					<div class="row-2">
						{% for ability in build.abilities %}
						<div class="ability-with-text">
							<span class="player-level">Level {{ loop.index }}</span>
							<div>
								<img id="ability-img-{{ loop.index }}" src="{{ ability.url }}">
								<div id="ability-description-{{ loop.index }}" class="description">
									<span class="description-text">Name: {{ ability.name }}</span>
									<span class="description-text">Cooldown: {{ ability.cooldown }}</span>
									<span class="description-text">Cost: {{ ability.cost }}</span>
									{% for key, value in ability.attributes.items() %}
										<span class="description-text">{{ key }} {{ value }}</span>
									{% endfor %}
									<span class="description-text">{{ ability.description }}</span>
								</div>
							</div>
							<span class="item-name">Ability {{ ability.number }}</span>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="horizontal-separator"></div>
		</div>
	</body>
</html>