html { overflow-y: scroll; }

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Penumbra Flare Std', 'Roboto', sans-serif;
	font-weight: 300;
	background: black;
}

img {
	border: 1px solid black;
}

h1 {
	font-weight: 500;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 0px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.top-bar {
    background: #2e2e2e;
    padding: 15px;
    display: flex;
    flex-flow:row wrap
    align-content: center;
}


.title {
    font-weight: 1000;
    font-size: 20px;
    color: white;
    width:33.33333%;
    text-align:center;
    align-self: center;
}

.top-bar-left-text {
    font-weight: 500;
    font-size: 10px;
    color: white;
    width:33.33333%;
    text-align:left;
    align-self: center;
}

.author {
    font-weight: 500;
    font-size: 10px;
    color: white;
    width:33.33333%;
    text-align:right;
    align-self: center;
}

.container {
	margin: 0 auto;
	padding: 10px;
	width: 98vw;
    max-width: 1300px;
	background-color: gray;
	box-shadow: 0px 0px 30px rgba(0,0,0,.2);
}

.row-1 {
    display: flex;
    flex-flow: row;
}

.row-2 {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-top: 15px;
    align-content: center;
}

.god-container {
  display: flex;
  flex-flow: column;
  padding-left: 50px;
  padding-right: 50px;
}

.god-row {
  width: 100%; /* fit to what it can */
  justify-content: center;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.god-name {
  margin-top: 1rem;
  font-size: 25px;
}

.god-image {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin-top: 25px;
}

.horizontal-separator {
    border-bottom: 1px solid #ccc;
    border-color: black;
}

.vertical-separator-right {
    border-right: 1px solid #ccc;
    border-color: black;
}

.vertical-separator-left {
    border-left: 1px solid #ccc;
    border-color: black;
}

.items-container {
    padding-bottom: 30px;
}

.items-row {
	display: flex;
	flex-wrap: wrap;
}

.item-name {
	margin-top: 8px;
}

.item {
	display: flex;
	flex-flow: column;
}

.player-level {
    font-weight: 1000;
}

.relics-row {
    display: flex;
    flex-flow: column;
}

.consumables-row {
    display: flex;
    flex-flow: column;
}

.abilities-row {
    display: flex;
    flex-flow: row;
}

.item-image {
	width: 100px;
	height: 100px;
}

.item-with-text {
    text-align: center;
    width: 200px;
    flex-basis: 33.33333%;
    margin-left: auto;
    margin-right: auto;
}

.item-with-text img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px;
}

.ability-with-text {
    text-align: center;
    width: 200px;
    flex-basis: 10%;
    padding-bottom: 30px;
}

.ability-with-text img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50px;
}

.re-roll {
    padding-top:  10px;
}

.description {
    border: 1px solid black;
    padding:  10px;
    display: flex;
    flex-flow:  column;
    position: absolute;
    background: black;
    text-align: left;
    max-width: 400px;
}

.description-text {
    color:  white;
    padding: 3px;
}